<% unless Rails.env.production? || Rails.env.test? %>
<% @app_git_commit = Perks.app_git_commit %>
<!-- Version: <%= @app_git_commit[:sha] %> -->
<!-- Commit Message: <%= @app_git_commit[:message] %> -->
<!-- Date: <%= @app_git_commit[:date] %> -->
<!-- Link: <%= @app_git_commit[:link] %> -->
<% end %>
<!DOCTYPE html>
<html>
<head>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <title>Muber Perks</title>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:300italic,400,300,700|Raleway:200|Roboto:400">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="Muber">
<div class="page-wrapper">
    <%= yield %>

</div>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<%= javascript_include_tag 'application' %>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
</html>
